extends layout

block content
  .container
    hr
    .row
       .panel.panel-default
            .panel-heading
              h3.panel-title #{user_data.first_name} #{user_data.last_name}
            |             
            .panel-body
              .row
                .col-md-3.col-lg-3(align='center')
                  img.img-circle.img-responsive(alt='User Pic', src='http://www.picz.ge/img/s2/1503/13/7/7106ab539f78.gif')
               
                .col-md-9.col-lg-9
                    hr
                    P First Name: #{user_data.first_name}
                    hr
                    P Last Name: #{user_data.last_name}
                    hr
                    P Email: #{user_data.email}
                    hr
