//
  * todo_list.jade
  * This file conatins tag elements to display todo-list items for this project
  * Assignment By:
  *  -Michael Sajuyigbe: 7434350
  *  -Dhruvkumar Patel: 7453756
extends layout

block content
    h3.
        To DO List
    ul
        each todo, i in record
            li#users_list_item
                a(href='#{todo.other}') #{todo.title} | #{todo.location} 
                    | #{todo.notes}         
                    each t, x in todo.other
                        | #{t.first_name} #{t.Last_name}
